body {
    font-weight:600;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #eee;

    .btn {
        border-radius: 0;
        border: none;
        color: #555;
        background: none;
        height: 50px;

        &.active i {
            color: #15aabf;
        }

        i {
            margin-right:5px;
        }
    }
}
