main {
    background-color: #f7f7f9;
    height:1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcement-box {
    height:150px;
    width:100%;
    background-color:#fff;
    margin-top:15px;
}