@model dynamic

@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/Layouts/_emptyLayout.cshtml";
}

<div class="login-screen">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<img src="~/Content/img/logo.png" class="center-block img-responsive" />
		</div>
	</div>
	<div class="center-block login-form">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email">
		</div>
		<div class="form-group">
			<label for="code">Building code</label><span class="pull-right">Forgotten code?</span>
			<input type="text" class="form-control" id="code">
		</div>
		<p>Don't have a building code? <u>Request access</u></p><br/>
		<a href="~/" class="btn btn-success btn-block btn-lg">Log in</a>
	</div>
</div>