@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="btn-group btn-group-justified bottom-nav">
    <a href="~/" class="btn btn-primary @IsLinkActive(controller, "home")">
        <i class="fas fa-home"></i> Home
    </a>
    <a href="~/community" class="btn btn-primary @IsLinkActive(controller, "community")">
        <i class="fas fa-users"></i> Community
    </a>
</div>

@helper IsLinkActive(string controllerName, string linkName)
{
    if (string.Equals(controllerName, linkName, StringComparison.CurrentCultureIgnoreCase))
    {
        @Html.Raw("active")
    }
}
