@model Reside.UI.Models.TopNavigation
<div class="top-nav">
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle btn-lg" type="button" data-toggle="dropdown" 
		        aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-@Model.CurrentPageIcon"></i> @Model.CurrentPageText <span class="caret"></span>
		</button>
		@if (Model.MenuLinks.Any())
		{
			<ul class="dropdown-menu">
				@foreach (var menu in Model.MenuLinks)
				{
					<li>
						<a href="@menu.Link">
							<i class="fas fa-@menu.Icon"></i>@menu.Text
						</a>
					</li>
				}
			</ul>
		}
		
	</div>
	
	<button class="btn btn-default pull-right btn-profile" onclick="openNav()">
		<i class="fas fa-user"></i>
	</button>
</div>




<div id="profile-nav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="#">
		<i class="fas fa-user"></i>My profile
	</a>
	<a href="#">
		<i class="fas fa-cog"></i>Settings
	</a>
	<a href="#">
		<i class="fas fa-sign-out-alt"></i>Sign out
	</a>
</div>