@{
	Layout = "~/Views/Shared/Layouts/_layout.cshtml";
	ViewBag.Title = "Board";
}

<div class="full-width-placeholder"></div>

<h4>Bulletin board</h4>

<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>