@{
	Layout = "~/Views/Shared/Layouts/_layout.cshtml";
	ViewBag.Title = "Board";
}

<br/>
<div class="row">
	<div class="col-xs-7">
		<input type="text" class="form-control" placeholder="Search..."/>
	</div>
	<div class="col-xs-5">
		<span class="pull-right" style="margin-top: 7px;">Sort by: relevance</span>
	</div>
</div>

<div class="announcement-box">
	<h5>Repair Cafe helps you repair, recycle, repurpose, reuse your items. 
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-comments">
	<i class="fas fa-heart"></i> 17 <i class="fas fa-comment"></i> 4
</div>

<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-comments">
	<i class="fas fa-heart"></i> 17&nbsp;&nbsp;<i class="fas fa-comment"></i> 4
</div>

<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-comments">
	<i class="fas fa-heart"></i> 17&nbsp;&nbsp;<i class="fas fa-comment"></i> 4
</div>

<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-comments">
	<i class="fas fa-heart"></i> 17&nbsp;&nbsp;<i class="fas fa-comment"></i> 4
</div>