@{
	Layout = "~/Views/Shared/Layouts/_layout.cshtml";
	ViewBag.Title = "Board";
}


<h3>Board</h3>

<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>