@model Reside.UI.Models.Page

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_layout.cshtml";
}

<h3>Announcements</h3>

<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>
<div class="announcement-box"></div>
