@model Reside.UI.Models.Page

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_layout.cshtml";
}

<h3>Announcements</h3>

<div class="announcement-box">
	<h5>
		Maintenance work in progress this weekend
	</h5>
	<p>There will be a restricted off-street parking. Please let your visitors know in advance.</p>
</div>
<div class="announcement-box">
	<h5>
		Maintenance work for the lifts to begin on the 14th July
	</h5>
	<p>Please use the lifts in the north tower.</p>
</div>
<div class="announcement-box">
	<h5>
		NSW smoke testing will be conducted
	</h5>
	<p>Please register if you would like your apartment to be included in the smoke testing. </p>
</div>
