@model Reside.UI.Models.Page

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_layout.cshtml";
}

<h3>Announcements</h3>

<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
<div class="announcement-box">
	<h5>
		Repair Cafe helps you repair, recycle, repurpose, reuse your items.
	</h5>
	<p>Win the War on Waste with the help from our volunteers who can fix most items from, sewing, sharpening tools and knives, shoes, jewellery, ceramics, glass, toys, electronics, umbrellas & more. </p>
</div>
